BOT_TOKEN=8607645337:AAEZKxipUfW2AqvTkKiDfWsvTTfpSz9cGIA
ADMIN_IDS=8007177524
VIP_CHANNEL_LINK=https://t.me/+iSJxaVLxsbFlNDQ0
# کانال‌های جوین اجباری (یوزرنیم با @)
CHANNEL_1=@mohafezamon
CHANNEL_2=@AmonGamec
CHANNEL_3=@AmonNetweb
CHANNEL_4=@AmonTrad
